.order-service-form-container {
  background: #ffffff;
  padding: 30px 60px;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  margin: 40px auto;
  width: 650px;
  text-align: center;
  transition: transform 0.3s ease;
}
h2 {
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
    font-size: 24px;
}


.order-service-form-container:hover {
  transform: translateY(-4px);
}

.order-service-form-container h2 {
  font-size: 1.8rem;
  margin-bottom: 20px;
  color: #6d2b8c;
}

/*form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px 40px;
}*/
form {
  display: flex;
  flex-direction: column;
  align-items: center;   /* centers all input boxes */
  gap: 15px;
}


input {
  padding: 8px;               /* smaller height */
  border-radius: 8px;         /* slightly smaller rounded corners */
  border: 1px solid #b4a7d6;  /* soft attractive violet border */
  font-size: 0.9rem;          /* smaller text */
  transition: 0.3s ease;
  width:250px;
}

input:focus {
  border-color: #6d2b8c;
  box-shadow: 0 0 5px rgba(109, 43, 140, 0.3);
}

button {
  grid-column: span 2;
  background: #6d2b8c;
  color: white;
  padding: 10px 15px;        /* <-- reduced size */
  border-radius: 12px;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  width: 150px;              /* <-- reduced width */
  margin: 10px auto;         /* center button */
  transition: 0.3s;
}



button:hover {
  transform: scale(1.05);
  background: #572073;
}
